#grid {
  display: grid;
  //   grid-template-columns: 50% 50%;
  //   grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "title title"
    "radio radio"
    "form form"
    "contacto contacto"
    "video video";

  min-height: 75vh;
  .grid-title {
    grid-area: title;
    margin: 20px 0;
    text-align: center;
  }
  .radio-grid {
    grid-area: radio;
    display: flex;
    justify-content: center;
    #radio {
      border-radius: 10px;
      border: 5px solid #0099ff;
      background-color: #f0f0f0;
      padding: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .form-grid {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
      display: flex;
      flex-direction: column;
      border: 5px solid white;
      padding: 20px;
      border-radius: 10px;
      label {
        margin-top: 10px;
      }
      .button {
        margin-top: 20px;
        width: 50%;
        color: white;
        background-color: #0099ff;
        border-radius: 20px;
        padding: 5px;
      }
    }
  }
  .contactos-grid {
    grid-area: contacto;
    display: flex;
    justify-content: center;

    text-align: center;
    margin: 50px 0;
  }
  .iframe-grid {
    grid-area: video;
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
    iframe {
      width: 100%;
      height: 300px;
      margin: 0 20px;
      border-radius: 30px;
    }
  }
  @media (max-width: 700px) {
    .iframe-grid {
      grid-column: 1/ 3;
      flex-direction: column;
      align-items: center;
      iframe {
        width: 85%;
      }
      iframe:first-child {
        margin-bottom: 20px;
      }
    }
  }
}
