@use "variables" as v;
#firts-section {
  display: grid;
  grid-template-columns: minmax(260px, 20%) 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left carrousel";
  margin-top: 30px;
  width: 90vw;
  border-bottom: 1px solid #ccc;

  .aside-left {
    grid-area: left;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    iframe {
      width: 100%;
    }
    .card-noticia-home {
      border-bottom: 1px solid #ccc;
      margin: 10px 0;
      a {
        text-decoration: none;
        color: v.$secondary;
        h2 {
          font-size: 20px;
          margin-top: 10px;
        }
        .img-noticias {
          width: 100%;
        }
        .fuente {
          color: red;
          font-family: Arial, Helvetica, sans-serif;
          margin-top: 10px;
          text-transform: uppercase;
        }
      }
    }
  }

  .carousel-edit {
    grid-area: carrousel;
    padding: 0 20px;
    .title-carrousel {
      font-weight: bold;
      font-size: 40px;
    }
    .resume-carrousel {
      font-size: 19px;
    }
  }
  @media (max-width: 1000px) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "carrousel"
      "left";

    width: 100%;
    .aside-left {
      grid-area: left;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "video video"
        "noticia1 noticia2";
      gap: 20px;
      margin-top: 30px;
      iframe {
        grid-area: video;
      }
      .noticia1 {
        grid-area: noticia1;
      }
      .noticia2 {
        grid-area: noticia2;
      }
    }
  }
  @media (max-width: 600px) {
    .aside-left {
      @include v.flex-row(flex, column, space-around, center);
      .card-noticia-home {
        a {
          h2 {
            font-size: 17px;
          }
        }
      }
    }
  }
}

.column-home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;

  .card-noticia {
    flex-basis: 20%;
    min-width: 260px;
    flex-grow: 1;
    margin: 20px;

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 420px;
      color: white;
      text-decoration: none;
    }
    .img-noticias {
      width: 100%;
    }
    h2,
    .fuente {
      text-transform: uppercase;
    }
    .fuente {
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 10px;
      text-align: center;
      color: red;
      font-size: 20px;
    }
  }
  @media (max-width: 1000px) {
    width: 100%;
  }
  @media (max-width: 600px) {
    .card-noticia {
      border-bottom: 1px solid #ccc;
      .fuente,
      h2 {
        font-size: 17px;
      }
    }
  }
}
