@font-face {
  font-family: "Space Mono";
  src: url(../fonts/SpaceMono-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Space Mono";
  src: url(../fonts/SpaceMono-Bold.ttf) format("truetype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Space Mono";
  background-color: #121212;
  color: #fff;
}

#cabesera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid white;
}
#cabesera img {
  height: 9vh;
  border-radius: 20px;
}
#cabesera h1 {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: bold;
}
#cabesera h1 span {
  display: inline-block;
  transform: translateY(-100px);
  opacity: 0;
  animation: caer 0.5s forwards;
}
@keyframes caer {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
#cabesera #menu {
  margin-right: 10px;
  width: 100vw;
}
#cabesera #menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cabesera #menu ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 10px;
  transition: all 300ms;
}
#cabesera #menu ul li a:hover {
  transform: scale(1.3, 1.3);
}
@media (max-width: 1000px) {
  #cabesera h1 {
    display: none;
  }
}
@media (max-width: 700px) {
  #cabesera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }
  #cabesera img {
    height: 7vh;
    border-radius: 20px;
  }
  #cabesera #menu {
    margin-top: 10px;
  }
  #cabesera #menu ul li a {
    font-size: 13px;
    padding: 15px;
  }
}
@media (max-width: 436px) {
  #cabesera #menu ul {
    margin-left: -10px;
  }
  #cabesera #menu ul li a {
    font-size: 12px;
    padding: 7px;
  }
}

#firts-section {
  display: grid;
  grid-template-columns: minmax(260px, 20%) 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left carrousel";
  width: 90%;
  border-bottom: 1px solid #ccc;
}
#firts-section .aside-left {
  grid-area: left;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
#firts-section .aside-left iframe {
  width: 100%;
}
#firts-section .aside-left .card-noticia-home {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}
#firts-section .aside-left .card-noticia-home a {
  text-decoration: none;
  color: #fff;
}
#firts-section .aside-left .card-noticia-home a h2 {
  font-size: 20px;
  margin-top: 10px;
}
#firts-section .aside-left .card-noticia-home a .img-noticias {
  width: 100%;
}
#firts-section .aside-left .card-noticia-home a .fuente {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  text-transform: uppercase;
}
#firts-section .carousel-edit {
  grid-area: carrousel;
}
#firts-section .carousel-edit .title-carrousel {
  font-weight: bold;
  font-size: 40px;
}
#firts-section .carousel-edit .resume-carrousel {
  font-size: 15px;
}
@media (max-width: 1000px) {
  #firts-section {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "carrousel" "left";
    width: 100%;
    padding: 20px;
  }
  #firts-section .aside-left {
    grid-area: left;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "video video" "noticia1 noticia2";
    gap: 20px;
    margin-top: 30px;
  }
  #firts-section .aside-left iframe {
    grid-area: video;
  }
  #firts-section .aside-left .noticia1 {
    grid-area: noticia1;
  }
  #firts-section .aside-left .noticia2 {
    grid-area: noticia2;
  }
}
@media (max-width: 600px) {
  #firts-section .aside-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #firts-section .aside-left .card-noticia-home a h2 {
    font-size: 17px;
  }
}

.column-home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}
.column-home .card-noticia {
  flex-basis: 20%;
  min-width: 260px;
  flex-grow: 1;
  margin: 20px;
}
.column-home .card-noticia a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 420px;
  color: white;
  text-decoration: none;
}
.column-home .card-noticia .img-noticias {
  width: 100%;
}
.column-home .card-noticia h2,
.column-home .card-noticia .fuente {
  text-transform: uppercase;
}
.column-home .card-noticia .fuente {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  text-align: center;
  color: red;
  font-size: 20px;
}
@media (max-width: 1000px) {
  .column-home {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .column-home .card-noticia {
    border-bottom: 1px solid #ccc;
  }
  .column-home .card-noticia .fuente,
  .column-home .card-noticia h2 {
    font-size: 17px;
  }
}

#grid {
  display: grid;
  grid-template-areas: "title title" "radio radio" "form form" "contacto contacto" "video video";
  min-height: 75vh;
}
#grid .grid-title {
  grid-area: title;
  margin: 20px 0;
  text-align: center;
}
#grid .radio-grid {
  grid-area: radio;
  display: flex;
  justify-content: center;
}
#grid .radio-grid #radio {
  border-radius: 10px;
  border: 5px solid #0099ff;
  background-color: #f0f0f0;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#grid .form-grid {
  grid-area: form;
  display: flex;
  justify-content: center;
  align-items: center;
}
#grid .form-grid .form {
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  padding: 20px;
  border-radius: 10px;
}
#grid .form-grid .form label {
  margin-top: 10px;
}
#grid .form-grid .form .button {
  margin-top: 20px;
  width: 50%;
  color: white;
  background-color: #0099ff;
  border-radius: 20px;
  padding: 5px;
}
#grid .contactos-grid {
  grid-area: contacto;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px 0;
}
#grid .iframe-grid {
  grid-area: video;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#grid .iframe-grid iframe {
  width: 95%;
  height: 300px;
  margin: 0 20px;
  border-radius: 30px;
}
@media (max-width: 700px) {
  #grid .contactos-grid .contacto h3 {
    font-size: 20px;
  }
  #grid .iframe-grid {
    grid-column: 1/3;
    flex-direction: column;
    align-items: center;
  }
  #grid .iframe-grid iframe {
    width: 85%;
  }
  #grid .iframe-grid iframe:first-child {
    margin-bottom: 30px;
  }
}
@media (max-width: 430px) {
  #grid #radio {
    width: 250px;
  }
  #grid .contactos-grid .contacto h3 {
    font-size: 15px;
  }
  #grid .contactos-grid .contacto p {
    font-size: 12px;
  }
  #grid iframe {
    width: 70%;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid white;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer ul li {
  margin: 10px;
}
.footer span {
  margin-top: 20px;
}
.footer span h2 {
  text-align: center;
  font-size: 25px;
}
.footer .img-footer {
  height: 8vh;
}
.footer .WhatsApp {
  position: fixed;
  left: 0;
  bottom: 100px;
}
@media (max-width: 1140px) {
  .footer span h2 {
    font-size: 22px;
  }
  .footer .img-footer {
    height: 6vh;
  }
}
@media (max-width: 1000px) {
  .footer span h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer ul {
    padding: 0;
  }
}
@media (max-width: 600px) {
  .footer span h2 {
    text-align: center;
    font-size: 18px;
  }
}
@media (max-width: 430px) {
  .footer span h2 {
    font-size: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
